<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 mb-4">
          <div class="card">
              <div class="card-header">

                <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 ">
                    <i class="fa fa-align-justify"></i> Drivers
                    <button type="button" class="btn btn-pill btn-success pull-right " [routerLink]="['/user/addUser']" [queryParams]="{returnUrl: returnUrl}"><i class="fa fa-plus"></i>&nbsp;Add driver</button>
                </div>

              </div>
              <div class="card-body">

                  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hove" style="width:100%">
                      <thead class="text-center">
                          <tr>
                              <th>Full Name</th>
                              <th>Phone Number</th>
                              <th>Email</th>
                              <th>Role</th>
                              <th>Action</th>
                              <th>Status</th>
                          </tr>
                      </thead>
                      <tbody>

                          <tr class="text-center" *ngFor="let item of drivers">
                              <td>{{item.fullName}}</td>
                              <td>{{item.phoneNumber}}</td>
                              <td>{{item.email}}</td>
                              <td>{{item.roles}}</td>
                              <td>
                                <div class="btn-group mt-2" role="group">
                                    <button type="button" class="btn btn-success" routerLink="/company/user-profile/{{item.id}}"><i class="fa fa-list"></i></button>
                                    <button type="button" class="btn btn-primary" routerLink="/company/update-user/{{item.id}}"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                </div>
                              </td>

                              <td>
                                  <button type="button" class="btn btn-danger">Suspend</button>
                              </td>
                          </tr>

                      </tbody>

                  </table>

              </div>
          </div>
        </div><!--/.col-->
    </div>
</div >



