<div class="animated fadeIn">
    <div class="row">
      <div class="container">
          <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                    <form [formGroup]="uploadUserDocs">
                      {{uploadUserDocs.value | json}}
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> Add Driver Document
                        </div>
                        <div class="modal-body">
                          <div class="row">
                              <div class="col-md-6">
                                  <label>Document Type. *</label>
                                  <div class="form-group">
                                      <input type="text" [ngClass]="{ 'is-invalid': submitted && type.errors }" class="form-control" formControlName="DocTypeName" placeholder="Document Type">
                                      <div *ngIf="submitted && type.errors" class="invalid-feedback">
                                        <div *ngIf="type['errors']['required']">required</div>
                                      </div>
                                    </div>
                              </div>
                              <div class="col-md-6">
                                  <label for="postal-code">Date Of Issue</label>
                                  <div class="input-group">

                                    <div class="input-group-prepend">
                                        <button class="fa fa-calendar" type="button"></button>
                                    </div>
                                    <input class="form-control" [ngClass]="{ 'is-invalid': submitted && issue.errors }" formControlName="DateIssued" placeholder="yyyy-mm-dd" bsDatepicker>
                                    <div *ngIf="submitted && issue.errors" class="invalid-feedback">
                                      <div *ngIf="issue['errors']['required']">required</div>
                                    </div>
                                  </div>
                               </div>
                          </div>
                         <div class="row">
                             <div class="col-md-6">
                                <label for="postal-code">Expires On</label>
                                <div class="input-group">

                                  <div class="input-group-prepend">
                                      <button class="fa fa-calendar" type="button"></button>
                                  </div>
                                  <input type="text" class="form-control" class="form-control" [ngClass]="{ 'is-invalid': submitted && expires.errors }" formControlName="ExpiresOn" placeholder="yyyy-mm-dd" bsDatepicker>
                                  <div *ngIf="submitted && expires.errors" class="invalid-feedback">
                                    <div *ngIf="expires['errors']['required']">required</div>
                                  </div>
                                </div>
                             </div>
                             <div class="col-md-6">
                                <label>Image/Document *</label>
                                <div>
                                    <input type="file" class="form-control" [ngClass]="{ 'is-invalid': submitted && images.errors }" accept=".pdf, .png, .jpg, .jpeg" (change)="onFileSelected($event)" required>
                                    <div *ngIf="submitted && images.errors" class="invalid-feedback">
                                      <div *ngIf="images['errors']['required']"> required</div>
                                    </div>
                                  </div>
                            </div>
                         </div>


                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary">Close</button>
                          <button type="button" class="btn btn-primary" (click)="onSubmit()">Upload</button>
                        </div>

                  </form>
                </div>
              </div>
            </div>
      </div>

    </div>
  </div>
