<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="companyForm">

                <div class="login-form-header text-center">
                  <img src="../../../assets/img/brand/logo.png" alt="login-icon" style="max-width:150px">
                  <div class="login-header">
                      <h4 class="bold color-white">CREATE BUSINESS PROFILE</h4>
                  </div>
                </div>

                <!-- <div *ngIf="errMessage" class="alert alert-danger" role="alert">
                    {{errMessage}}
                  </div> -->

                <div class="form-row">
                  <div class="col mb-3">
                    <input type="text" [class.is-invalid] = "shortName.invalid && shortName.touched" formControlName="shortName" class="form-control" placeholder="Company name">
                    <div *ngIf="shortName.invalid && shortName.touched">
                        <small class="text-danger" *ngIf="shortName['errors']['required']">Company name is required</small>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col mb-3">
                    <input type="text" [class.is-invalid] = "primaryEmail.invalid && primaryEmail.touched" formControlName="primaryEmail" class="form-control" placeholder="Primary Email">
                    <div *ngIf="primaryEmail.invalid && primaryEmail.touched">
                        <small class="text-danger" *ngIf="primaryEmail['errors']['required']">Email is required</small>
                    </div>
                  </div>
                </div>

                <div class="form-row">

                  <div class="col mb-3">
                    <input type="text" [class.is-invalid] = "countryCode.invalid && countryCode.touched" formControlName="countryCode" class="form-control" placeholder="Country code">
                    <div *ngIf="countryCode.invalid && countryCode.touched">
                        <small class="text-danger" *ngIf="countryCode['errors']['required']">country code is required</small>
                    </div>
                  </div>

                </div>
                <div class="form-row">
                  <div class="col mb-3">
                    <input type="text" [class.is-invalid] = "primaryMobileNo.invalid && primaryMobileNo.touched" formControlName="primaryMobileNo" class="form-control" placeholder="Primary Mobile No.">
                    <div *ngIf="primaryMobileNo.invalid && primaryMobileNo.touched">
                        <small class="text-danger" *ngIf="primaryMobileNo['errors']['required']">Mobile Number is required</small>
                    </div>
                  </div>
                </div>

                <button type="button" [disabled]="companyForm.invalid" (click)="registerCompany()" class="btn btn-block btn-success">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

