<div class="animated fadeIn">
  <div class="row">
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-cogs bg-primary p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-primary mb-0 mt-2">100</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Companies</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-laptop bg-info p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 mt-2">1500</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Vehicles</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-moon-o bg-warning p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-warning mb-0 mt-2">KSH 1M</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-bell bg-danger p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-danger mb-0 mt-2">100</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Routes</div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>

  <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Companies
          </div>
          <div class="card-body">

              <table datatable [dtOptions]="dtOptions"  class="table table-bordered row-border hove" style="width:100%">
                  <thead class="text-center">
                      <tr>
                          <th>Code</th>
                          <th>Company Name</th>
                          <th>Email</th>
                          <th>Contact NO.</th>
                          <th>Status</th>
                          <th>Date Created</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>

                      <tr class="text-center">
                          <td>10002</td>
                          <td>Express Transporters</td>
                          <td>oloov534@gmail.com</td>
                          <td>+254 706 118 959</td>
                          <td>Active</td>
                          <td>12/15/2019</td>
                          <td>
                            <div class="btn-group mt-2" role="group">
                                <button type="button" class="btn btn-success"><i class="fa fa-list"></i></button>
                                <button type="button" class="btn btn-primary"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                              </div>
                          </td>
                      </tr>

                  </tbody>

              </table>

          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-7">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Turyde Users
        </div>
        <div class="card-body">

            <table datatable [dtOptions]="dtOptions"  class="table table-bordered row-border hove" style="width:100%">
                <thead class="text-center">
                    <tr>
                        <th>Email</th>
                        <th>Contact NO.</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="text-center">
                        <td>oloov534@gmail.com</td>
                        <td>+254 706 118 959</td>
                        <td>Admin</td>
                        <td>
                          <div class="btn-group mt-2" role="group">
                              <button type="button" class="btn btn-success"><i class="fa fa-list"></i></button>
                              <button type="button" class="btn btn-primary"><i class="fa fa-edit"></i></button>
                              <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>

                </tbody>

            </table>

        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Company Trips
        </div>
        <div class="card-body">

            <table datatable [dtOptions]="dtOptions"  class="table table-bordered row-border hove" style="width:100%">
                <thead class="text-center">
                    <tr>
                        <th>Company Name</th>
                        <th>Total Trips</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="text-center">
                        <td>XPREE TRAVELERS</td>
                        <td>400</td>
                        <td>
                          <div class="btn-group mt-2" role="group">
                              <button type="button" class="btn btn-success"><i class="fa fa-list"></i></button>
                            </div>
                        </td>
                    </tr>

                </tbody>

            </table>

        </div>
      </div>
    </div>
</div>

</div>


