<div class="container-fluid">
  <div class="row" >
    <div class="col-md-4">

      <!-- Profile Image -->
      <div class="card card-primary card-outline">
        <div class="card-body box-profile">
          <form>

            <div class="login-form-header text-center">
              <div class="login-header">
                  <h4 class="bold color-white">Assign Company Route</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label>Select Operating Route *</label>
                <div class="form-group">
                    <input type="number" min="0" class="form-control" id="seats" placeholder="Select a Route">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Add Route</button>
            </div>
          </form>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </div>
    <!-- /.col -->
    <div class="col-md-8">
      <div class="card card-primary card-outline">
        <div class="card-body box-profile">
          <div class="box box-primary">
            <div class="box-header with-border"></div>
            <!-- /.box-header -->
            <div class="box-body">
                <iframe class="map col-md-12" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d29374.82985549621!2d72.52208875!3d23.02914215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1538744497991" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
     </div>
  </div>
</div>
