<div class="animated fadeIn">
    <!-- <div class="card">
        <div class="card-body"> -->
          <h3>Welcome To: {{companyName}}
              <button type="button" class="btn btn-info pull-right" routerLink="/company/update-company">
                <span style="color: white;"> <i class="fa fa-list">&nbsp;
                  View Company Profile </i></span>
              </button>
              <hr>
          </h3>

        <!-- </div>
      </div> -->
    <div class="row">
      <div class="col-6 col-lg-3">
        <div class="card">
          <div class="card-body p-3 clearfix">
            <i class="fa fa-cogs bg-primary p-3 font-2xl mr-3 float-left"></i>
            <div class="h5 text-primary mb-0 mt-2">$1.999,50</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
          </div>
        </div>
      </div>
      <!--/.col-->
      <div class="col-6 col-lg-3">
        <div class="card">
          <div class="card-body p-3 clearfix">
            <i class="fa fa-laptop bg-info p-3 font-2xl mr-3 float-left"></i>
            <div class="h5 text-info mb-0 mt-2">$1.999,50</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
          </div>
        </div>
      </div>
      <!--/.col-->
      <div class="col-6 col-lg-3">
        <div class="card">
          <div class="card-body p-3 clearfix">
            <i class="fa fa-moon-o bg-warning p-3 font-2xl mr-3 float-left"></i>
            <div class="h5 text-warning mb-0 mt-2">$1.999,50</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
          </div>
        </div>
      </div>
      <!--/.col-->
      <div class="col-6 col-lg-3">
        <div class="card">
          <div class="card-body p-3 clearfix">
            <i class="fa fa-bell bg-danger p-3 font-2xl mr-3 float-left"></i>
            <div class="h5 text-danger mb-0 mt-2">$1.999,50</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>

    <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Users Table
            </div>
            <div class="card-body">

                <table datatable [dtOptions]="dtOptions" class="table table-bordered row-border hove" style="width:100%">
                    <thead class="text-center">
                        <tr>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Role</th>

                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr class="text-center" *ngFor="let item of users">
                            <td>{{item.fullName}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.phoneNumber}}</td>
                            <td>{{item.roles}}</td>

                            <td>
                              <div class="btn-group mt-2" role="group">
                                  <button type="button" class="btn btn-success" routerLink="/company/user-profile/{{item.id}}"><i class="fa fa-list"></i></button>
                                  <button type="button" class="btn btn-primary" routerLink="/company/update-user/{{item.id}}"><i class="fa fa-edit"></i></button>
                                  <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>

                    </tbody>

                </table>

            </div>
          </div>
        </div>
    </div>

  </div>


