<div class="animated fadeIn">
  <div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
          <tabset>
              <tab heading="Our Routes">
                  <div class="card">
                      <div class="card-header">
                        <i class="fa fa-align-justify"></i> Driver Documents
                      </div>
                      <div class="card-body">

                          <table datatable [dtOptions]="dtOptions"  class="table table-bordered row-border hove" style="width:100%">
                              <thead class="text-center">
                                  <tr>
                                      <th>Name</th>
                                      <th>Route Type</th>
                                      <th>Distance in KM</th>
                                      <th>Default Peak Rate</th>
                                      <th>Default offPeak Rate</th>
                                      <th>Status</th>
                                      <th>Action</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <tr class="text-center" *ngFor="let item of companyRoutes">
                                  <td>{{item.name}}</td>
                                  <td>{{item.routeType}}</td>
                                  <td>{{item.distanceKm}}</td>
                                  <td>{{item.defaultPeakRate}}</td>
                                  <td>{{item.defaultOffPeakRate}}</td>
                                  <td>{{item.status}}</td>
                                  <td>
                                    <div class="btn-group mt-2" role="group">
                                        <button type="button" class="btn btn-primary" routerLink="/company/add-route/{{item.id}}"><i class="fa fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" tooltip="Revoke Route." placement="bottom" (click)="revokeRoute(item.id)"><i class="fa fa-trash"></i></button>
                                      </div>
                                  </td>
                              </tr>

                              </tbody>

                          </table>

                      </div>
                    </div>
              </tab>
              <tab heading="Available Routes">
                <div class="card">
                    <div class="card-header">
                      <i class="fa fa-align-justify"></i> Driver Documents
                    </div>
                    <div class="card-body">

                        <table datatable [dtOptions]="dtOptions"  class="table table-bordered row-border hove" style="width:100%">
                            <thead class="text-center">
                                <tr>
                                    <th>Name</th>
                                    <th>Route Type</th>
                                    <th>Distance in KM</th>
                                    <th>Default Peak Rate</th>
                                    <th>Default offPeak Rate</th>
                                    <th>Status</th>
                                    <th>Assign Route</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr class="text-center" *ngFor="let item of routes">
                                    <td>{{item.name}}</td>
                                    <td>{{item.routeType}}</td>
                                    <td>{{item.distanceKm}}</td>
                                    <td>{{item.defaultPeakRate}}</td>
                                    <td>{{item.defaultOffPeakRate}}</td>
                                    <td>{{item.status}}</td>
                                    <td>
                                      <div class="btn-group mt-2" role="group">
                                          <button type="button" class="btn btn-primary" routerLink="/company/add-route/{{item.id}}"><i class="fa fa-sign-in"></i></button>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>

                        </table>

                    </div>
                  </div>
            </tab>
          </tabset>
        </div>

    </div>
  </div>

</div>
