<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="userProfileForm">
            <!-- <div class="modal-header"> -->
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> User Profile
                </div>
            <!-- </div> -->
            <div class="modal-body" >

                <div class="form-row">
                      <div class="col mb-3">
                        <label>First Name. *</label>
                        <input type="text" [ngClass]="{ 'is-invalid': submitted && fname.errors }" value="items" formControlName="firstName" class="form-control" placeholder="First Name">
                        <div *ngIf="submitted && fname.errors" class="invalid-feedback">
                          <div *ngIf="fname['errors']['required']">First Name is required</div>
                        </div>
                      </div>

                      <div class="col mb-3">
                        <label>Last Name. *</label>
                        <input type="text" [ngClass]="{ 'is-invalid': submitted && lname.errors }" value="items" formControlName="lastName" class="form-control" placeholder="Last Name">
                        <div *ngIf="submitted && lname.errors" class="invalid-feedback">
                          <div *ngIf="lname['errors']['required']">Last Name is required</div>
                        </div>
                      </div>

                      <div class="col mb-3">
                        <label>Email. *</label>
                        <input type="text" [ngClass]="{ 'is-invalid': submitted && email.errors }" value="items" formControlName="email" class="form-control" placeholder="Email">
                        <div *ngIf="submitted && email.errors" class="invalid-feedback">
                          <div *ngIf="email['errors']['required']">Email is required</div>
                        </div>
                      </div>
                </div>
                <div class="form-row">
                    <div class="col mb-3">
                      <label>Phone Number. *</label>
                      <international-phone-number class="col-md-12" [required]="true" formControlName="phoneNumber" placeholder="Enter phone number" [maxlength]="20" [defaultCountry]="'ke'" [required]="true" [allowedCountries]="['ke','ug','tz']"></international-phone-number>
                      <div *ngIf="submitted && fname.errors" class="invalid-feedback">
                        <div *ngIf="fname['errors']['required']">First Name is required</div>
                      </div>
                    </div>

                    <div class="col mb-3">
                        <label>User Roles. *</label>
                      <input type="text" [ngClass]="{ 'is-invalid': submitted && lname.errors }" value="items" formControlName="roles" class="form-control" placeholder="User roles">
                      <div *ngIf="submitted && lname.errors" class="invalid-feedback">
                        <div *ngIf="lname['errors']['required']">Last Name is required</div>
                      </div>
                    </div>

                    <div class="col mb-3">
                      <label>Image. *</label>
                      <input type="file" accept=".pdf, .png, .jpg, .jpeg" (change)="onFileSelected($event)" formControlName="avator" class="form-control">
                      <div *ngIf="submitted && email.errors" class="invalid-feedback">
                        <div *ngIf="email['errors']['required']">Email is required</div>
                      </div>
                    </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary">Close</button>
              <button type="button" class="btn btn-primary" (click)="onSubmit(userProfileForm.value)">Update User Profile</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
