<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="registrationForm">


                <div class="login-form-header text-center">

                  <img src="../../../assets/img/brand/logo.png" alt="login-icon" style="max-width:150px">
                  <div class="login-header">
                      <h4 class="bold color-white">CREATE ACCOUNT</h4>

                  </div>
                </div>
                  <div *ngIf="errMessage" class="alert alert-danger" role="alert">
                    {{errMessage}}
                  </div>
                  <div *ngIf="successMessage" class="alert alert-success" role="alert">
                      {{successMessage}}
                    </div>
                <div *ngIf="email.invalid && email.touched">
                  <small class="text-danger" *ngIf="email['errors']['required']">Email is required</small>
                  <small class="text-danger" *ngIf="email['errors']['email']">Email is Invalid</small>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="email" [class.is-invalid] = "email.invalid && email.touched" formControlName="email" class="form-control" placeholder="Email">
                </div>


                <div class="form-group ">
                  <international-phone-number class="col-md-12" [required]="true" formControlName="mobileNumber" placeholder="Enter phone number" [maxlength]="20" [defaultCountry]="'ke'" [required]="true" [allowedCountries]="['ke','ug','tz']"></international-phone-number>
                </div>

                <button type="button" [disabled]="registrationForm.invalid" (click)="onSubmit(registrationForm.value)" class="btn btn-block btn-success">Confirm</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

