<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="card-group">
            <div class="card p-2">
              <div class="card-body">

                <form [formGroup]="createUser">
                <!-- <div *ngIf="errMessage" class="alert alert-danger" role="alert">
                  {{errMessage}}
                </div> -->
                <!-- <small class="text-danger">{{errMessage}}</small> -->
                   <div class="modal-header">
                     Add User
                   </div>
                   <div class="row">
                        <div class="col-md-6">
                            <label>First Name. *</label>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="firstName" id="city" placeholder="First Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Last Name. *</label>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="lastName" id="city" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                          <label>Email *</label>
                          <div class="form-group">
                              <input type="email" formControlName="email" formControlName="email" class="form-control" placeholder="Email">
                          </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label>Mobile Number</label>
                          <international-phone-number class="col-md-12" [required]="true" formControlName="phoneNumber" placeholder="Enter phone number" [maxlength]="20" [defaultCountry]="'ke'" [required]="true" [allowedCountries]="['ke','ug','tz']"></international-phone-number>
                      </div>
                      <!-- <div class="col-md-12"> -->
                        <div class="example-block col-md-6">
                          <label>Roles *</label>
                          <div class="form-group">
                              <ngx-select
                              formControlName="roles"
                              [allowClear]="true"
                              optionValueField="role" optionTextField="role"
                              [multiple]="true"
                              [items]="option"
                              placeholder="No role selected">
                             </ngx-select>
                          </div>
                      <!-- </div> -->
                      </div>
                    </div>


                  <div class="modal-footer">
                    <div class="col-6 text-right">
                     <button type="button" [disabled]="loading" class="btn btn-primary" (click)="onSubmit()">
                      <span class="spinner-border spinner-border-sm" *ngIf="loading"></span>
                       Add User
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
