<div class="app-body ">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row mt-5">
          <div class="col-md-6 mx-auto">
              <div class="alert alert-success" role="alert">
                  {{successMessage}}
              </div>
            <div class="card mx-4">

              <div class="card-body p-4">

                <form [formGroup]="passwordCreationForm">

                    <div class="login-form-header text-center">

                        <img src="../../../assets/img/brand/logo.png" alt="login-icon" style="max-width:150px">
                        <div class="login-header">
                            <h4 class="bold color-white">CREATE PASSWORD</h4>

                        </div>
                      </div>

                  <div *ngIf="errMessage" class="alert alert-danger" role="alert">
                      {{errMessage}}
                  </div>

                  <hr class="colorgraph">

                  <div class="form-row">
                    <div class="col mb-3">
                      <label>Password</label>
                      <input type="text" [ngClass]="{ 'is-invalid': submitted && password.errors }" formControlName="password" class="form-control" placeholder="Enter Password">
                      <div *ngIf="submitted && password.errors" class="invalid-feedback">
                        <div *ngIf="password['errors']['required']">Password is required</div>
                        <div *ngIf="password['errors']['minlength']">Password must be at least 6 characters</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col mb-3">
                      <label >Confirm Password</label>
                        <input type="text" [ngClass]="{ 'is-invalid': submitted && confirmPass.errors }" formControlName="confirmPass" class="form-control" placeholder="Confirm Password">
                        <div *ngIf="submitted && confirmPass.errors" class="invalid-feedback">
                          <div *ngIf="confirmPass['errors']['required']">Confirm Password is required</div>
                          <div *ngIf="confirmPass['errors']['mustMatch']">Passwords must match</div>
                        </div>
                    </div>

                  </div>
                  <div class="modal-footer">
                      <div class="col-6 text-right">
                        <button type="submit" (click)="passwordSubmit(passwordCreationForm.value)" class="btn btn-primary px-10">Create</button>
                      </div>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
