<div class="animated fadeIn">
    <div class="row" >
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <strong>Vehicle</strong>
                    <small>Details</small>
                    <div class="pull-right">
                        <a class="btn btn-primary btn-sm btn-flat" routerLink="/vehicles/update-vehicle/{{vehicleId}}" ><i class="fa fa-pencil"></i>
                          EDIT VEHICLE</a>&nbsp;&nbsp;
                        <a class="btn btn-primary btn-sm btn-flat" [routerLink]="['/vehicles/vehicleDocs']" ><i class="fa fa-pencil"></i>
                          ADD VEHICLE DOCUMENTS</a>
                    </div>

                  </div>
                <div class="callout callout-info">
                    <div class="row">
                        <div class="col-md-4">
                            <p><label><span style="font-weight:bold">Status</span></label>&nbsp;:&nbsp;&nbsp;<label><span style="font-weight:bold">Active</span></label></p>
                        </div>
                        <div class="col-md-4">
                            <p><label><span style="font-weight:bold">Verhicle</span></label>&nbsp;:&nbsp;&nbsp;<label><span style="font-weight:bold">{{reg}}</span></label></p>
                        </div>

                    </div>

                  </div>
                  <div class="card-body">
                      <table id="ticketDetailsTable" class="table table-no-margin" style="font-size:12px">
                          <tbody>

                              <tr>
                                  <th>Number Of Seats</th>
                                  <td><span style="font-weight:bold">{{seats}}</span></td>

                              </tr>
                              <tr>
                                  <th>Mileage</th>
                                  <td><span style="font-weight:bold">{{mileage}}</span></td>

                              </tr>
                              <tr>
                                  <th>Year Of Manufacture</th>
                                  <td><span style="font-weight:bold">{{manfYear}}</span></td>

                              </tr>
                              <tr>
                                  <th>Date Created</th>
                                  <td><span style="font-weight:bold">{{created | date}}</span></td>

                              </tr>
                              <tr>
                                  <a class="btn btn-primary btn-sm btn-flat" (click) = "assignDriverDisplay()">ASSIGN DRIVER</a>&nbsp;&nbsp;
                                  <a class="btn btn-primary btn-sm btn-flat" (click) = "assignRouteDisplay()">ASSIGN ROUTE</a>
                              </tr>
                          </tbody>
                      </table>
                </div>
            </div>

        </div>
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img src="http://placehold.it/380x500"  class="img-fluid" alt="" style="max-height: 250px;" />
              </div>

            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col -->


      </div>
      <!-- /.row -->

      <div class="row">
          <div class="col-md-6" *ngIf = "isShowDriver">
              <!-- Assign Driver -->
              <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                  <form>

                    <div class="login-form-header">
                      <div class="login-header">
                          <h4 class="bold color-white">Assign Driver</h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="example-block col-md-12">
                        <label>Select Driver <span style="color: red;">*</span></label>
                        <div class="form-group">
                            <ngx-select
                            [allowClear]="true"
                            optionValueField="id" optionTextField="name"
                            [items]="option"
                            placeholder="No Driver Selected">
                           </ngx-select>

                        </div>
                    </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Assign Driver</button>
                    </div>
                  </form>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
          </div>
          <div class="col-md-6" *ngIf = "isShowRoute">
              <!-- Assign Operating Route -->
              <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                  <form>
                    <div class="login-form-header">
                      <div class="login-header">
                          <h4 class="bold color-white">Assign Route</h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="example-block col-md-12">
                        <label>Select Operating Route <span style="color: red;">*</span></label>
                        <div class="form-group">
                            <ngx-select
                            [allowClear]="true"
                            optionValueField="id" optionTextField="name"
                            [items]="option"
                            placeholder="No Route Selected">
                           </ngx-select>

                        </div>
                    </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Assign Route</button>
                    </div>
                  </form>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
          </div>
      </div>
</div>


