<div class="animated fadeIn">
  <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">

            <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 ">
                <i class="fa fa-align-justify"></i> Vehicles
                <a class="btn btn-pill btn-success pull-right " [routerLink]="['/vehicles/add-vehicle']"><i class="fa fa-plus"></i>&nbsp;Add Vehicle</a>
            </div>

          </div>
          <div class="card-body">

              <table datatable [dtOptions]="dtOptions" class="table table-bordered row-border hove" style="width:100%">
                  <thead class="text-center">
                      <tr>
                          <th>Registration Number</th>
                          <th>Year Of Manufacture</th>
                          <th>Mileage</th>
                          <th>Status</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>

                      <tr class="text-center" *ngFor="let item of vehicles">
                          <td>{{item.regNo}}</td>
                          <td>{{item.manufYear}}</td>
                          <td>{{item.mileage}}</td>
                          <td>{{item.status}}</td>
                          <td>
                            <div class="btn-group mt-2" role="group">
                                <button type="button" class="btn btn-success" routerLink="/vehicles/vehicle-details/{{item.id}}"><i class="fa fa-list"></i></button>
                                <button type="button" class="btn btn-primary" routerLink="/vehicles/update-vehicle/{{item.id}}"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                              </div>
                          </td>
                      </tr>

                  </tbody>

              </table>

          </div>
        </div>
      </div>
    </div>

</div >




